{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "proseWrap": "always"
}